#main {
    background-color: rgb(192, 197, 218);
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#container {
    display: flex;
    flex-flow: row wrap;
    border-left: 10px solid gray;
    border-top: 10px solid gray;
    border-right: 10px solid whitesmoke;
    border-bottom: 10px solid whitesmoke;
}

.item {
    border: 1px solid black;
}

.square {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #b9b9b9;
    justify-content: center;
    align-items: center;
    border: 2px dotted black
    
}

.one {
    color: #3979fa
}

.two {
    color: #419010;
}

.three {
    color: #f83f37;
}

.bomb {
    width: 100%;
    background-image: url("https://lh3.googleusercontent.com/proxy/4LxxzZYZMkG_SwyO5D_il__qCsAw03xRry0_fMv1pfXGTwF6cNvhGqbyXrZA1Ws5VbFaQAlPyUlz_TpMCfs7L1tlEY91ruB2GGKBnW2d__xb8Jj8nt8VjKSuaw2n0dX4P79Z");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.full {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #d3d0d0;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    
}

.full:hover {
    border: 2px dotted black
}

.cell {
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0;
}

.cell:hover{
    display: flex;
    align-items: center;
    opacity: 100;
    height: 100%;
    background-color: #b9b9b9;
}